body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(137, 196, 244, 1);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form.submit-form {
  width: 30%;
  background-color: rgba(137, 196, 244, 0.3);
  margin: 50px auto 0 auto;
  padding: 20px;
  box-shadow: 5px 5px 1px rgb(0 0 0 / 30%);
  border-radius: 20px 0px;
  text-align: center;
}

.submit-form label {
  display: block;
  margin: 5px 0;
}
.submit-form input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.btn {
  margin: 20px 0 0 0;
}

.tableDiv {
  margin: 40px 0 0 0;
  text-align: center;
}
